/* ===========UTILS============================ */
:root {
  --primary-background-color: #ffffff;
  --secondary-background-color: #f5f4fa;
  --hero-background-color: #2f303a;
  --accent-text-color: #2196f3;
  --primary-text-color: #212121;
  --secondary-text-color: #ffffff;
  --paragraph-text-color: #757575;
  --icon-basic-color: #afb1b8;
  --primary-fonts: Roboto, sans-serif;
  --secondary-fonts: Raleway, cursive;
  --letter-spacing: 0.03em;
  --form-letter-spacing: 0.01em;
  --hero-title-letter-spacing: 0.06em;
  --main-links-letter-spacing: 0.02em;
  --duration: 1s;
}

.visually-hidden {
  position: inherit;
  width: 0;
  height: 0;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0);
  overflow: hidden;
}

.title-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0);
  overflow: hidden;
}

/* ===========BASE============================ */
/*! modern-normalize v1.0.0 | MIT License | https://github.com/sindresorhus/modern-normalize */
/*
Document
========
*/
/**
Use a better box model (opinionated).
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

/**
Use a more readable tab size (opinionated).
*/
:root {
  -moz-tab-size: 4;
  tab-size: 4;
}

/**
1. Correct the line height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
*/
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/*
Sections
========
*/
/**
Remove the margin in all browsers.
*/
body {
  margin: 0;
}

/**
Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
*/
body {
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
}

/*
Grouping content
================
*/
/**
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
*/
hr {
  height: 0;
  /* 1 */
  color: inherit;
  /* 2 */
}

/*
Text-level semantics
====================
*/
/**
Add the correct text decoration in Chrome, Edge, and Safari.
*/
abbr[title] {
  text-decoration: underline dotted;
}

/**
Add the correct font weight in Edge and Safari.
*/
b,
strong {
  font-weight: bolder;
}

/**
1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
2. Correct the odd 'em' font sizing in all browsers.
*/
code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Consolas, 'Liberation Mono', Menlo, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
Add the correct font size in all browsers.
*/
small {
  font-size: 80%;
}

/**
Prevent 'sub' and 'sup' elements from affecting the line height in all browsers.
*/
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
Tabular data
============
*/
/**
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in all Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
*/
table {
  text-indent: 0;
  /* 1 */
  border-color: inherit;
  /* 2 */
}

/*
Forms
=====
*/
/**
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
*/
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
Remove the inheritance of text transform in Edge and Firefox.
1. Remove the inheritance of text transform in Firefox.
*/
button,
select {
  /* 1 */
  text-transform: none;
}

/**
Correct the inability to style clickable types in iOS and Safari.
*/
button,
[type='button'],
[type='reset'],
[type='submit'] {
  -webkit-appearance: button;
}

/**
Remove the inner border and padding in Firefox.
*/
::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
Restore the focus styles unset by the previous rule.
*/
:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
Remove the additional ':invalid' styles in Firefox.
See: https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737
*/
:-moz-ui-invalid {
  box-shadow: none;
}

/**
Remove the padding so developers are not caught out when they zero out 'fieldset' elements in all browsers.
*/
legend {
  padding: 0;
}

/**
Add the correct vertical alignment in Chrome and Firefox.
*/
progress {
  vertical-align: baseline;
}

/**
Correct the cursor style of increment and decrement buttons in Safari.
*/
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/**
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/
[type='search'] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
Remove the inner padding in Chrome and Safari on macOS.
*/
::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to 'inherit' in Safari.
*/
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/*
Interactive
===========
*/
/*
Add the correct display in Chrome and Safari.
*/
summary {
  display: list-item;
}

.page {
  background-color: var(--primary-background-color);
  font-family: var(--primary-fonts);
  color: var(--paragraph-text-color);
  letter-spacing: var(--letter-spacing);
}

.list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.link {
  margin: 0;
  padding: 0;
  color: var(--primary-text-color);
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

.container {
  width: 100%;
  padding: 0 15px;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

/* ===========COMPONENTS============================ */
.button {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background-color: var(--accent-text-color);
  border: 1px solid transparent;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.button__label {
  font-size: 16px;
  font-weight: 700;
  line-height: 1.875;
  font-family: inherit;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: var(--hero-title-letter-spacing);
  color: var(--secondary-text-color);
}

.title {
  margin-bottom: 50px;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.167;
  text-align: center;
  letter-spacing: var(--letter-spacing);
  color: var(--primary-text-color);
}

@media screen and (max-width: 1199px) {
  .title {
    margin-bottom: 30px;
    font-size: 28px;
    font-weight: 700;
    line-height: 1.179;
  }
}

.subtitle {
  font-size: 14px;
  font-weight: 700;
  line-height: 1.143;
  letter-spacing: var(--letter-spacing);
  text-transform: uppercase;
  color: var(--secondary-text-color);
}

.logo {
  color: var(--primary-text-color);
  font-family: var(--secondary-fonts);
  font-size: 24px;
  font-weight: 700;
  line-height: 1.167;
}

.logo--whited {
  color: var(--secondary-text-color);
}

.logo__color {
  color: var(--accent-text-color);
}

@media screen and (max-width: 767px) {
  .logo {
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
}

@media screen and (max-width: 767px) {
  .grid {
    display: block;
  }
}

@media screen and (min-width: 768px) {
  .grid {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
    margin-top: -30px;
  }
}

.item {
  display: block;
}

@media screen and (min-width: 768px) {
  .item {
    flex-basis: calc((100% -2 * 30px) / 2);
    margin-left: 30px;
    margin-top: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .item {
    flex-basis: calc((100% -4 * 30px) / 4);
  }
}

.human {
  text-align: center;
}

.human__title {
  margin-bottom: 10px;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.188;
  text-align: center;
  letter-spacing: var(--letter-spacing);
  color: var(--primary-text-color);
}

.human__paragraph {
  margin-bottom: 16px;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.188;
  letter-spacing: var(--letter-spacing);
}

.human__info {
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-right: 32px;
  padding-left: 32px;
}

.social {
  display: flex;
  align-items: center;
  justify-content: center;
}

.social__item:not(:last-child) {
  margin-right: 10px;
}

.social__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
}

@media screen and (min-width: 1200px) {
  .social__link {
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .social__link:hover, .social__link:focus {
    background-color: var(--accent-text-color);
  }
}

.social__link--greyer {
  background-color: rgba(255, 255, 255, 0.1);
}

@media screen and (min-width: 1200px) {
  .social__link--greyer {
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .social__link--greyer:hover, .social__link--greyer:focus {
    background-color: var(--accent-text-color);
  }
}

.social__icon {
  width: 20px;
  height: 20px;
  fill: var(--icon-basic-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social__icon--whited {
  width: 20px;
  height: 20px;
  fill: var(--primary-background-color);
}

@media screen and (min-width: 1200px) {
  .social__link:hover .social__icon,
  .social__link:focus .social__icon {
    fill: var(--primary-background-color);
  }
}

.sign-up {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

@media screen and (max-width: 1199px) {
  .sign-up {
    max-width: 450px;
    margin: 0 auto;
    justify-content: center;
  }
}

@media screen and (min-width: 1200px) {
  .sign-up {
    max-width: 570px;
    justify-content: start;
  }
}

.sign-up__subtitle {
  display: inline-block;
  width: 100%;
  max-width: 219px;
  margin-bottom: 20px;
}

.sign-up__form {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

@media screen and (min-width: 1200px) {
  .sign-up__form {
    max-width: 570px;
  }
}

.sign-up__input {
  width: 100%;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 16px;
  padding-right: 16px;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.25;
  letter-spacing: var(--letter-spacing);
  background-color: transparent;
  color: var(--primary-background-color);
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
}

.sign-up__input::placeholder {
  color: rgba(255, 255, 255, 0.6);
}

@media screen and (max-width: 1199px) {
  .sign-up__input {
    max-width: 450px;
    margin-bottom: 20px;
  }
}

@media screen and (min-width: 1200px) {
  .sign-up__input {
    max-width: 358px;
    margin-right: 12px;
  }
}

.sign-up__button {
  position: relative;
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  max-width: 200px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 30px;
  padding-right: 24px;
  border: 1px solid transparent;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  overflow: hidden;
}

.sign-up__button::after {
  content: "";
  display: inline-block;
  margin-left: 10px;
  width: 24px;
  height: 24px;
  background-image: url(../img/svg-icon/sign-up/paper-jet.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-origin: border-box;
  transition: transform 500ms cubic-bezier(0.4, 0, 0.2, 1);
}

.sign-up__button::before {
  position: absolute;
  bottom: 50%;
  right: 28px;
  transform: translateY(calc(50% + 40px));
  content: "";
  display: inline-block;
  width: 24px;
  height: 24px;
  background-image: url(../img/svg-icon/sign-up/paper-jet.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-origin: border-box;
  transition: transform 500ms cubic-bezier(0.4, 0, 0.2, 1);
}

.sign-up__button:focus::after {
  transform: translate(50px, -50px);
}

.sign-up__button:focus::before {
  transform: translateY(50%);
}

/* ===========LAYOUT============================ */
.header {
  border-bottom: 1px solid #ececec;
}

.header__container {
  display: flex;
  align-items: center;
}

.header .active-page {
  color: var(--accent-text-color);
}

@media screen and (max-width: 479px) {
  .mobile-menu__social {
    display: flex;
    flex-wrap: wrap;
  }
  .mobile-menu__item-soc:nth-child(-n + 3) {
    margin-bottom: 10px;
  }
}

@media screen and (max-width: 767px) {
  .header {
    padding-top: 15px;
    padding-bottom: 15px;
  }
  .header__container {
    justify-content: space-between;
  }
  .menu__list {
    display: none;
  }
  .contact-list {
    display: none;
  }
  .drop-btn,
  .mobile-menu__close-btn {
    background-color: transparent;
    border: none;
    padding: 0;
  }
  .drop-btn__icon,
  .mobile-menu__icon-cross {
    fill: var(--primary-text-color);
  }
  .drop-btn:hover .drop-btn__icon,
  .mobile-menu__close-btn:focus .drop-btn__icon, .drop-btn:hover
  .mobile-menu__icon-cross,
  .mobile-menu__close-btn:focus
  .mobile-menu__icon-cross {
    fill: var(--accent-text-color);
  }
  .mobile-menu {
    position: fixed;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    overflow: scroll;
    padding-top: 48px;
    padding-bottom: 48px;
    padding-left: 40px;
    padding-right: 40px;
    top: 0;
    left: 50%;
    transform: translateX(-50%) translateY(-100%);
    background-color: var(--primary-background-color);
    opacity: 0;
    z-index: 1;
    transition: transform 250ms linear, opacity 500ms linear;
  }
  .mobile-menu.is-open {
    display: flex;
    transform: translateX(-50%) translateY(0);
    opacity: 1;
  }
  .mobile-menu__close-btn {
    position: absolute;
    top: 10px;
    right: 15px;
  }
  .mobile-menu__item:not(:last-child) {
    margin-bottom: 32px;
  }
  .mobile-menu__link {
    font-size: 40px;
    font-weight: 500;
    line-height: 1.175;
    letter-spacing: var(--main-links-letter-spacing);
  }
  .mobile-menu__link:hover, .mobile-menu__link:focus {
    color: var(--accent-text-color);
  }
  .mobile-menu__contacts {
    margin-top: auto;
    margin-bottom: 64px;
  }
  .mobile-menu__link-contact {
    font-size: 24px;
    font-weight: 500;
    line-height: 1.167;
    color: var(--paragraph-text-color);
    letter-spacing: var(main-links-letter-spacing);
  }
  .mobile-menu__link-contact--bigger {
    font-size: 34px;
    font-weight: 500;
    line-height: 1.176;
  }
  .mobile-menu__link-contact:hover, .mobile-menu__link-contact:focus {
    color: var(--accent-text-color);
  }
  .mobile-menu__social {
    display: flex;
    width: 357px;
  }
  .mobile-menu__social-link {
    font-size: 18px;
    font-weight: 500;
    line-height: 1.222;
    color: var(--accent-text-color);
    letter-spacing: var(main-links-letter-spacing);
  }
  .mobile-menu__item-soc {
    max-width: 95px;
  }
  .mobile-menu__item-soc:not(:last-child) {
    padding-right: 10px;
    margin-right: 10px;
    border-right: 1px solid rgba(33, 33, 33, 0.2);
  }
}

@media screen and (min-width: 768px) {
  .drop-btn {
    display: none;
  }
  .mobile-menu {
    display: none;
  }
  .site__nav {
    display: flex;
    align-items: center;
  }
  .menu__list {
    display: flex;
    align-items: center;
  }
  .contact-list {
    margin-left: auto;
  }
  .header {
    padding-top: 23px;
    padding-bottom: 21px;
  }
  .header .active-page {
    position: relative;
    display: inline;
    padding-bottom: 34px;
  }
  .header .active-page::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 4px;
    display: block;
    border-radius: 2px;
    background-color: var(--accent-text-color);
  }
  .menu__item:not(:first-child) {
    margin-left: 50px;
  }
  .header__icon {
    fill: var(--paragraph-text-color);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .header__anchor:hover .header__icon,
  .header__anchor:focus .header__icon {
    fill: var(--accent-text-color);
  }
  .header__anchor {
    display: flex;
    align-items: center;
    letter-spacing: var(--main-links-letter-spacing);
    font-size: 14px;
    font-weight: 500;
    line-height: 1.143;
    color: var(--primary-text-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .header__anchor:hover, .header__anchor:focus {
    color: var(--accent-text-color);
  }
  .header__anchor--grayer {
    color: var(--paragraph-text-color);
  }
}

@media screen and (max-width: 1199px) {
  .menu__list {
    margin-left: 88px;
  }
  .header__item-contacts:not(:first-child) {
    margin-top: 10px;
  }
  .header__icon {
    margin-right: 8px;
  }
}

@media screen and (min-width: 1200px) {
  .menu__list {
    margin-left: 93px;
  }
  .header {
    padding-top: 24px;
    padding-bottom: 25px;
  }
  .header .active-page {
    position: relative;
    display: inline;
    padding-bottom: 31px;
  }
  .header .active-page::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 4px;
    display: block;
    border-radius: 2px;
    background-color: var(--accent-text-color);
  }
  .contact-list {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .header__item-contacts:not(:first-child) {
    margin-left: 30px;
  }
  .header__icon {
    margin-right: 10px;
  }
}

.main-section {
  padding-top: 118px;
  padding-bottom: 118px;
  background-color: var(--hero-background-color);
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/hero-banner/mobile/hero-banner-mobile.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero__title {
  margin: 0 auto 30px;
  color: var(--primary-background-color);
  text-align: center;
  letter-spacing: var(--hero-title-letter-spacing);
  text-transform: uppercase;
}

.hero__button {
  margin: 0 auto;
  padding: 10px 30px;
  min-width: 200px;
  text-align: center;
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 320px), screen and (min-resolution: 192dpi) and (min-width: 320px), screen and (min-resolution: 2dppx) and (min-width: 320px) {
  .main-section {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/hero-banner/mobile/2x/hero-banner-mobile@2x.jpg);
  }
}

@media screen and (min-width: 768px) {
  .main-section {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/hero-banner/tablet/hero-banner-tablet.jpg);
  }
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 768px), screen and (min-resolution: 192dpi) and (min-width: 768px), screen and (min-resolution: 2dppx) and (min-width: 768px) {
  .main-section {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/hero-banner/tablet/2x/hero-banner-tablet@2x.jpg);
  }
}

@media screen and (max-width: 1199px) {
  .hero__title {
    font-size: 26px;
    font-weight: 900;
    line-height: 1.615;
    max-width: 360px;
  }
}

@media screen and (min-width: 1200px) {
  .main-section {
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 200px;
    padding-bottom: 200px;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/hero-banner/desktop/hero-banner-desktop.jpg);
  }
  .hero__title {
    max-width: 696px;
    font-size: 44px;
    font-weight: 900;
    line-height: 1.364;
  }
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 1200), screen and (min-resolution: 192dpi) and (min-width: 1200), screen and (min-resolution: 2dppx) and (min-width: 1200px) {
  .main-section {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/hero-banner/desktop/2x/hero-banner-desktop@2x.jpg);
  }
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  z-index: 1000;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding-top: 40px;
  padding-bottom: 40px;
  padding-left: 40px;
  padding-right: 40px;
  background: var(--primary-background-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.modal__close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: transparent;
  cursor: pointer;
}

@media screen and (max-width: 1199px) {
  .modal {
    width: 100%;
    max-width: 450px;
    height: 95%;
    max-height: 609px;
    overflow: scroll;
  }
  .modal__title {
    font-size: 20px;
    font-weight: 700;
    line-height: 1.5;
  }
}

@media screen and (min-width: 1200px) {
  .modal {
    max-width: 528px;
    height: 100%;
    max-height: 581px;
  }
  .modal__title {
    font-size: 20px;
    font-weight: 700;
    line-height: 1.15;
  }
}

@media screen and (max-width: 767px) {
  .at-start:focus-within .at-start--accent {
    color: var(--accent-text-color);
  }
}

.at-start {
  margin-bottom: 10px;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.167;
  letter-spacing: var(--form-letter-spacing);
  color: var(--paragraph-text-color);
}

.modal__title {
  display: block;
  text-align: center;
  letter-spacing: var(--letter-spacing);
  color: var(--primary-text-color);
}

.modal__cross {
  width: 11px;
  height: 11px;
  fill: var(--title-text-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__close-btn:hover .modal__cross,
.modal__close-btn:focus .modal__cross {
  fill: var(--accent-text-color);
}

.modal__form {
  display: flex;
  flex-direction: column;
  margin-top: 12px;
}

.form__input {
  display: block;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 42px;
  padding-right: 10px;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.143;
  letter-spacing: var(--form-letter-spacing);
}

.form__input:focus {
  outline: none;
  border-color: var(--accent-text-color);
}

.form__span-container {
  display: block;
  position: relative;
  margin-top: 4px;
}

.modal-svg {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  width: 18px;
  height: 18px;
  fill: var(--title-text-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form__input:focus + .modal-svg {
  fill: var(--accent-text-color);
}

.form__textarea {
  display: block;
  margin-top: 4px;
  width: 100%;
  height: 120px;
  resize: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 16px;
  padding-right: 16px;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.143;
  letter-spacing: var(--form-letter-spacing);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form__textarea:focus {
  outline: none;
  border-color: var(--accent-text-color);
}

.form__textarea::placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.form__label-checkbox {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.714;
  letter-spacing: var(--letter-spacing);
  color: var(--paragraph-text-color);
}

@media screen and (max-width: 1199px) {
  .form__label-checkbox {
    font-size: 12px;
    font-weight: 400;
    line-height: 1.167;
  }
}

.form__label-checkbox::before {
  display: inline-block;
  content: "";
  width: 16px;
  height: 15px;
  margin-right: 7px;
  border: 2px solid var(--primary-text-color);
  border-radius: 2px;
}

.form__checkbox:checked + .form__label-checkbox::before {
  background-color: var(--accent-text-color);
  border: 2px solid transparent;
  background-image: url(../img/svg-icon/modal-elements/tick.svg);
  background-origin: content-box;
  background-size: contain;
  background-repeat: no-repeat;
}

.form__checkbox:focus + .form__label-checkbox::before {
  outline: 1px solid var(--accent-text-color);
}

.form__link-checkbox {
  position: relative;
  margin-left: 3px;
  color: var(--accent-text-color);
  text-decoration: none;
}

.form__link-checkbox::after {
  position: absolute;
  display: block;
  content: "";
  bottom: 4px;
  right: 0;
  width: 100%;
  height: 1px;
  background-color: var(--accent-text-color);
}

@media screen and (max-width: 1199px) {
  .form__link-checkbox::after {
    bottom: 1px;
  }
}

.form__btn-send {
  align-self: center;
  max-width: 200px;
  cursor: pointer;
  margin-top: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 56px;
  padding-right: 55px;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.875;
  letter-spacing: var(--hero-title-letter-spacing);
  color: var(--primary-background-color);
  background: #188CE8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: 1px solid #188CE8;
}

.features {
  background-color: var(--primary-background-color);
  padding-top: 94px;
  padding-bottom: 94px;
}

@media screen and (max-width: 1199px) {
  .features {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

.features__item {
  max-width: 450px;
  max-height: 220px;
}

@media screen and (max-width: 767px) {
  .features__item:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) {
  .features__item {
    max-width: 354px;
    max-height: 251px;
  }
}

@media screen and (min-width: 1200px) {
  .features__item {
    max-width: 270px;
    max-height: 251px;
  }
}

.features__box {
  margin: 0 auto 30px;
  display: flex;
  width: 100%;
  height: 120px;
  align-items: center;
  justify-content: center;
  background-color: var(--secondary-background-color);
  border-radius: 4px;
}

@media screen and (min-width: 768px) {
  .features__box {
    max-width: 354px;
    max-height: 120px;
  }
}

@media screen and (min-width: 1200px) {
  .features__box {
    max-width: 270px;
    max-height: 120px;
  }
}

.features__icon {
  width: 70px;
  height: 70px;
}

.features__subtitle {
  margin-bottom: 10px;
  color: var(--primary-text-color);
}

@media screen and (max-width: 767px) {
  .features__subtitle {
    text-align: center;
  }
}

.features__paragraph {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.714;
}

@media screen and (max-width: 1199px) {
  .working {
    display: none;
  }
}

@media screen and (min-width: 1200px) {
  .working {
    background-color: var(--primary-background-color);
    padding-bottom: 94px;
  }
  .working__item {
    flex-basis: calc(100% / 3 - 30px);
    max-width: 370px;
    max-height: 294px;
    position: relative;
  }
  .working__subtitle-typing {
    position: absolute;
    bottom: 0;
    right: 0;
    padding-top: 27px;
    padding-bottom: 27px;
    padding-left: 82px;
    padding-right: 82px;
    text-align: center;
    background: rgba(47, 48, 58, 0.8);
  }
  .working__subtitle-scanning {
    position: absolute;
    bottom: 0;
    right: 0;
    padding-top: 27px;
    padding-bottom: 27px;
    padding-left: 85px;
    padding-right: 85px;
    background: rgba(47, 48, 58, 0.8);
  }
  .working__subtitle-choosing {
    position: absolute;
    bottom: 0;
    right: 0;
    padding-top: 27px;
    padding-bottom: 27px;
    padding-left: 91px;
    padding-right: 90px;
    background: rgba(47, 48, 58, 0.8);
  }
}

.team {
  background-color: var(--secondary-background-color);
  padding-top: 94px;
  padding-bottom: 94px;
}

@media screen and (max-width: 1199px) {
  .team {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

.team__item {
  max-width: 450px;
  max-height: 622px;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  background-color: var(--primary-background-color);
}

@media screen and (max-width: 767px) {
  .team__item:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) {
  .team__item {
    max-width: 354px;
    max-height: 536px;
  }
}

@media screen and (min-width: 1200px) {
  .team__item {
    max-width: 270px;
    max-height: 428px;
  }
}

.clients {
  padding-top: 94px;
  padding-bottom: 94px;
}

@media screen and (max-width: 1199px) {
  .clients {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

.clients__container {
  text-align: center;
}

.clients__grid {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}

.clients__item {
  flex-basis: calc((100% - 2 * 30px) / 2);
  margin-left: 30px;
  margin-top: 30px;
  max-width: 210px;
  height: 90px;
}

@media screen and (min-width: 768px) {
  .clients__item {
    flex-basis: calc((100% - 3 * 30px) / 3);
    margin-left: 30px;
    margin-top: 30px;
    max-width: 226px;
    height: 90px;
  }
}

@media screen and (min-width: 1200px) {
  .clients__item {
    flex-basis: calc((100% - 6 * 30px) / 6);
    margin-left: 30px;
    margin-top: 30px;
    max-width: 170px;
    height: 90px;
  }
}

.clients__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border: 1px solid var(--icon-basic-color);
  border-radius: 4px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients__link:hover, .clients__link:focus {
  border: 1px solid var(--accent-text-color);
}

.clients__icon {
  fill: var(--icon-basic-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients__link:hover .clients__icon,
.clients__link:focus .clients__icon {
  fill: var(--accent-text-color);
}

.footer {
  background-color: var(--hero-background-color);
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer__container {
  display: flex;
  align-items: baseline;
}

@media screen and (max-width: 767px) {
  .footer__container {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

@media screen and (min-width: 768px) {
  .footer__container {
    flex-wrap: wrap;
    justify-content: space-around;
  }
}

.location {
  max-width: 231px;
  width: 100%;
  text-align: center;
}

@media screen and (max-width: 1199px) {
  .location {
    margin-bottom: 60px;
  }
}

@media screen and (min-width: 1200px) {
  .location {
    margin-right: 70px;
    text-align: start;
  }
}

.box-logo {
  margin-bottom: 20px;
}

.footer__item:not(:last-child) {
  margin-bottom: 9px;
}

.footer__info {
  color: rgba(255, 255, 255, 0.6);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.714;
}

.footer__city {
  color: var(--primary-background-color);
}

.join {
  max-width: 206px;
  width: 100%;
}

@media screen and (max-width: 1199px) {
  .join {
    text-align: center;
    margin-bottom: 60px;
  }
}

@media screen and (min-width: 1200px) {
  .join {
    margin-right: 93px;
  }
}

.join__subtitle {
  display: block;
  margin-bottom: 20px;
}
/*# sourceMappingURL=main.css.map */