/* ===========UTILS============================ */
:root {
  --primary-background-color: #ffffff;
  --secondary-background-color: #f5f4fa;
  --hero-background-color: #2f303a;
  --accent-text-color: #2196f3;
  --primary-text-color: #212121;
  --secondary-text-color: #ffffff;
  --paragraph-text-color: #757575;
  --icon-basic-color: #afb1b8;
  --primary-fonts: Roboto, sans-serif;
  --secondary-fonts: Raleway, cursive;
  --letter-spacing: 0.03em;
  --form-letter-spacing: 0.01em;
  --hero-title-letter-spacing: 0.06em;
  --main-links-letter-spacing: 0.02em;
  --duration: 1s;
}

.visually-hidden {
  position: inherit;
  width: 0;
  height: 0;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0);
  overflow: hidden;
}

.title-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0);
  overflow: hidden;
}

/* ===========BASE============================ */
/*! modern-normalize v1.0.0 | MIT License | https://github.com/sindresorhus/modern-normalize */
/*
Document
========
*/
/**
Use a better box model (opinionated).
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

/**
Use a more readable tab size (opinionated).
*/
:root {
  -moz-tab-size: 4;
  tab-size: 4;
}

/**
1. Correct the line height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
*/
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/*
Sections
========
*/
/**
Remove the margin in all browsers.
*/
body {
  margin: 0;
}

/**
Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
*/
body {
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
}

/*
Grouping content
================
*/
/**
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
*/
hr {
  height: 0;
  /* 1 */
  color: inherit;
  /* 2 */
}

/*
Text-level semantics
====================
*/
/**
Add the correct text decoration in Chrome, Edge, and Safari.
*/
abbr[title] {
  text-decoration: underline dotted;
}

/**
Add the correct font weight in Edge and Safari.
*/
b,
strong {
  font-weight: bolder;
}

/**
1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
2. Correct the odd 'em' font sizing in all browsers.
*/
code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Consolas, 'Liberation Mono', Menlo, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
Add the correct font size in all browsers.
*/
small {
  font-size: 80%;
}

/**
Prevent 'sub' and 'sup' elements from affecting the line height in all browsers.
*/
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
Tabular data
============
*/
/**
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in all Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
*/
table {
  text-indent: 0;
  /* 1 */
  border-color: inherit;
  /* 2 */
}

/*
Forms
=====
*/
/**
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
*/
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
Remove the inheritance of text transform in Edge and Firefox.
1. Remove the inheritance of text transform in Firefox.
*/
button,
select {
  /* 1 */
  text-transform: none;
}

/**
Correct the inability to style clickable types in iOS and Safari.
*/
button,
[type='button'],
[type='reset'],
[type='submit'] {
  -webkit-appearance: button;
}

/**
Remove the inner border and padding in Firefox.
*/
::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
Restore the focus styles unset by the previous rule.
*/
:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
Remove the additional ':invalid' styles in Firefox.
See: https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737
*/
:-moz-ui-invalid {
  box-shadow: none;
}

/**
Remove the padding so developers are not caught out when they zero out 'fieldset' elements in all browsers.
*/
legend {
  padding: 0;
}

/**
Add the correct vertical alignment in Chrome and Firefox.
*/
progress {
  vertical-align: baseline;
}

/**
Correct the cursor style of increment and decrement buttons in Safari.
*/
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/**
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/
[type='search'] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
Remove the inner padding in Chrome and Safari on macOS.
*/
::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to 'inherit' in Safari.
*/
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/*
Interactive
===========
*/
/*
Add the correct display in Chrome and Safari.
*/
summary {
  display: list-item;
}

.page {
  background-color: var(--primary-background-color);
  font-family: var(--primary-fonts);
  color: var(--paragraph-text-color);
  letter-spacing: var(--letter-spacing);
}

.list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.link {
  margin: 0;
  padding: 0;
  color: var(--primary-text-color);
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

.container {
  width: 100%;
  padding: 0 15px;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

/* ===========COMPONENTS============================ */
.button {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background-color: var(--accent-text-color);
  border: 1px solid transparent;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.button__label {
  font-size: 16px;
  font-weight: 700;
  line-height: 1.875;
  font-family: inherit;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: var(--hero-title-letter-spacing);
  color: var(--secondary-text-color);
}

.title {
  margin-bottom: 50px;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.167;
  text-align: center;
  letter-spacing: var(--letter-spacing);
  color: var(--primary-text-color);
}

@media screen and (max-width: 1199px) {
  .title {
    margin-bottom: 30px;
    font-size: 28px;
    font-weight: 700;
    line-height: 1.179;
  }
}

.subtitle {
  font-size: 14px;
  font-weight: 700;
  line-height: 1.143;
  letter-spacing: var(--letter-spacing);
  text-transform: uppercase;
  color: var(--secondary-text-color);
}

.logo {
  color: var(--primary-text-color);
  font-family: var(--secondary-fonts);
  font-size: 24px;
  font-weight: 700;
  line-height: 1.167;
}

.logo--whited {
  color: var(--secondary-text-color);
}

.logo__color {
  color: var(--accent-text-color);
}

@media screen and (max-width: 767px) {
  .logo {
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
}

@media screen and (max-width: 767px) {
  .grid {
    display: block;
  }
}

@media screen and (min-width: 768px) {
  .grid {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
    margin-top: -30px;
  }
}

.item {
  display: block;
}

@media screen and (min-width: 768px) {
  .item {
    flex-basis: calc((100% -2 * 30px) / 2);
    margin-left: 30px;
    margin-top: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .item {
    flex-basis: calc((100% -4 * 30px) / 4);
  }
}

.product__thumb {
  position: relative;
  overflow: hidden;
}

.product__link {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.product__link:hover, .product__link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.product__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding-top: 63px;
  padding-bottom: 63px;
  padding-left: 24px;
  padding-right: 24px;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.556;
  letter-spacing: var(--letter-spacing);
  color: var(--primary-background-color);
  background-color: rgba(33, 150, 243, 0.9);
}

.product__link:hover .product__overlay,
.product__link:focus .product__overlay {
  transform: translateY(0);
}

.product__content {
  padding: 20px 24px;
  flex-grow: 1;
  border-bottom: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
}

.product__title {
  margin-bottom: 4px;
  color: var(--primary-text-color);
  font-size: 18px;
  font-weight: 700;
  line-height: 2;
  letter-spacing: var(--hero-title-letter-spacing);
}

.product__paragraph {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.875;
}

.social {
  display: flex;
  align-items: center;
  justify-content: center;
}

.social__item:not(:last-child) {
  margin-right: 10px;
}

.social__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
}

@media screen and (min-width: 1200px) {
  .social__link {
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .social__link:hover, .social__link:focus {
    background-color: var(--accent-text-color);
  }
}

.social__link--greyer {
  background-color: rgba(255, 255, 255, 0.1);
}

@media screen and (min-width: 1200px) {
  .social__link--greyer {
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .social__link--greyer:hover, .social__link--greyer:focus {
    background-color: var(--accent-text-color);
  }
}

.social__icon {
  width: 20px;
  height: 20px;
  fill: var(--icon-basic-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social__icon--whited {
  width: 20px;
  height: 20px;
  fill: var(--primary-background-color);
}

@media screen and (min-width: 1200px) {
  .social__link:hover .social__icon,
  .social__link:focus .social__icon {
    fill: var(--primary-background-color);
  }
}

.sign-up {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

@media screen and (max-width: 1199px) {
  .sign-up {
    max-width: 450px;
    margin: 0 auto;
    justify-content: center;
  }
}

@media screen and (min-width: 1200px) {
  .sign-up {
    max-width: 570px;
    justify-content: start;
  }
}

.sign-up__subtitle {
  display: inline-block;
  width: 100%;
  max-width: 219px;
  margin-bottom: 20px;
}

.sign-up__form {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

@media screen and (min-width: 1200px) {
  .sign-up__form {
    max-width: 570px;
  }
}

.sign-up__input {
  width: 100%;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 16px;
  padding-right: 16px;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.25;
  letter-spacing: var(--letter-spacing);
  background-color: transparent;
  color: var(--primary-background-color);
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
}

.sign-up__input::placeholder {
  color: rgba(255, 255, 255, 0.6);
}

@media screen and (max-width: 1199px) {
  .sign-up__input {
    max-width: 450px;
    margin-bottom: 20px;
  }
}

@media screen and (min-width: 1200px) {
  .sign-up__input {
    max-width: 358px;
    margin-right: 12px;
  }
}

.sign-up__button {
  position: relative;
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  max-width: 200px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 30px;
  padding-right: 24px;
  border: 1px solid transparent;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  overflow: hidden;
}

.sign-up__button::after {
  content: "";
  display: inline-block;
  margin-left: 10px;
  width: 24px;
  height: 24px;
  background-image: url(../img/svg-icon/sign-up/paper-jet.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-origin: border-box;
  transition: transform 500ms cubic-bezier(0.4, 0, 0.2, 1);
}

.sign-up__button::before {
  position: absolute;
  bottom: 50%;
  right: 28px;
  transform: translateY(calc(50% + 40px));
  content: "";
  display: inline-block;
  width: 24px;
  height: 24px;
  background-image: url(../img/svg-icon/sign-up/paper-jet.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-origin: border-box;
  transition: transform 500ms cubic-bezier(0.4, 0, 0.2, 1);
}

.sign-up__button:focus::after {
  transform: translate(50px, -50px);
}

.sign-up__button:focus::before {
  transform: translateY(50%);
}

/* ===========LAYOUT============================ */
.header {
  border-bottom: 1px solid #ececec;
}

.header__container {
  display: flex;
  align-items: center;
}

.header .active-page {
  color: var(--accent-text-color);
}

@media screen and (max-width: 479px) {
  .mobile-menu__social {
    display: flex;
    flex-wrap: wrap;
  }
  .mobile-menu__item-soc:nth-child(-n + 3) {
    margin-bottom: 10px;
  }
}

@media screen and (max-width: 767px) {
  .header {
    padding-top: 15px;
    padding-bottom: 15px;
  }
  .header__container {
    justify-content: space-between;
  }
  .menu__list {
    display: none;
  }
  .contact-list {
    display: none;
  }
  .drop-btn,
  .mobile-menu__close-btn {
    background-color: transparent;
    border: none;
    padding: 0;
  }
  .drop-btn__icon,
  .mobile-menu__icon-cross {
    fill: var(--primary-text-color);
  }
  .drop-btn:hover .drop-btn__icon,
  .mobile-menu__close-btn:focus .drop-btn__icon, .drop-btn:hover
  .mobile-menu__icon-cross,
  .mobile-menu__close-btn:focus
  .mobile-menu__icon-cross {
    fill: var(--accent-text-color);
  }
  .mobile-menu {
    position: fixed;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    overflow: scroll;
    padding-top: 48px;
    padding-bottom: 48px;
    padding-left: 40px;
    padding-right: 40px;
    top: 0;
    left: 50%;
    transform: translateX(-50%) translateY(-100%);
    background-color: var(--primary-background-color);
    opacity: 0;
    z-index: 1;
    transition: transform 250ms linear, opacity 500ms linear;
  }
  .mobile-menu.is-open {
    display: flex;
    transform: translateX(-50%) translateY(0);
    opacity: 1;
  }
  .mobile-menu__close-btn {
    position: absolute;
    top: 10px;
    right: 15px;
  }
  .mobile-menu__item:not(:last-child) {
    margin-bottom: 32px;
  }
  .mobile-menu__link {
    font-size: 40px;
    font-weight: 500;
    line-height: 1.175;
    letter-spacing: var(--main-links-letter-spacing);
  }
  .mobile-menu__link:hover, .mobile-menu__link:focus {
    color: var(--accent-text-color);
  }
  .mobile-menu__contacts {
    margin-top: auto;
    margin-bottom: 64px;
  }
  .mobile-menu__link-contact {
    font-size: 24px;
    font-weight: 500;
    line-height: 1.167;
    color: var(--paragraph-text-color);
    letter-spacing: var(main-links-letter-spacing);
  }
  .mobile-menu__link-contact--bigger {
    font-size: 34px;
    font-weight: 500;
    line-height: 1.176;
  }
  .mobile-menu__link-contact:hover, .mobile-menu__link-contact:focus {
    color: var(--accent-text-color);
  }
  .mobile-menu__social {
    display: flex;
    width: 357px;
  }
  .mobile-menu__social-link {
    font-size: 18px;
    font-weight: 500;
    line-height: 1.222;
    color: var(--accent-text-color);
    letter-spacing: var(main-links-letter-spacing);
  }
  .mobile-menu__item-soc {
    max-width: 95px;
  }
  .mobile-menu__item-soc:not(:last-child) {
    padding-right: 10px;
    margin-right: 10px;
    border-right: 1px solid rgba(33, 33, 33, 0.2);
  }
}

@media screen and (min-width: 768px) {
  .drop-btn {
    display: none;
  }
  .mobile-menu {
    display: none;
  }
  .site__nav {
    display: flex;
    align-items: center;
  }
  .menu__list {
    display: flex;
    align-items: center;
  }
  .contact-list {
    margin-left: auto;
  }
  .header {
    padding-top: 23px;
    padding-bottom: 21px;
  }
  .header .active-page {
    position: relative;
    display: inline;
    padding-bottom: 34px;
  }
  .header .active-page::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 4px;
    display: block;
    border-radius: 2px;
    background-color: var(--accent-text-color);
  }
  .menu__item:not(:first-child) {
    margin-left: 50px;
  }
  .header__icon {
    fill: var(--paragraph-text-color);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .header__anchor:hover .header__icon,
  .header__anchor:focus .header__icon {
    fill: var(--accent-text-color);
  }
  .header__anchor {
    display: flex;
    align-items: center;
    letter-spacing: var(--main-links-letter-spacing);
    font-size: 14px;
    font-weight: 500;
    line-height: 1.143;
    color: var(--primary-text-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .header__anchor:hover, .header__anchor:focus {
    color: var(--accent-text-color);
  }
  .header__anchor--grayer {
    color: var(--paragraph-text-color);
  }
}

@media screen and (max-width: 1199px) {
  .menu__list {
    margin-left: 88px;
  }
  .header__item-contacts:not(:first-child) {
    margin-top: 10px;
  }
  .header__icon {
    margin-right: 8px;
  }
}

@media screen and (min-width: 1200px) {
  .menu__list {
    margin-left: 93px;
  }
  .header {
    padding-top: 24px;
    padding-bottom: 25px;
  }
  .header .active-page {
    position: relative;
    display: inline;
    padding-bottom: 31px;
  }
  .header .active-page::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 4px;
    display: block;
    border-radius: 2px;
    background-color: var(--accent-text-color);
  }
  .contact-list {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .header__item-contacts:not(:first-child) {
    margin-left: 30px;
  }
  .header__icon {
    margin-right: 10px;
  }
}

.port {
  background-color: var(--primary-background-color);
  padding-top: 94px;
  padding-bottom: 94px;
}

@media screen and (max-width: 1199px) {
  .port {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

.port__list {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}

@media screen and (max-width: 767px) {
  .port__list {
    flex-wrap: wrap;
    justify-content: start;
  }
}

@media screen and (min-width: 768px) {
  .port__list {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .port__list {
    margin-bottom: 50px;
  }
}

.port__button {
  cursor: pointer;
  padding: 6px 22px;
  border: transparent;
  border-radius: 4px;
  background-color: var(--secondary-background-color);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.port__button:hover, .port__button:focus {
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  background-color: var(--accent-text-color);
}

.port__label {
  font-family: inherit;
  letter-spacing: var(--letter-spacing);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.625;
  text-align: center;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.port__button:hover .port__label,
.port__button:focus .port__label {
  color: var(--primary-background-color);
}

.port__item:not(:last-child) {
  margin-right: 8px;
}

@media screen and (max-width: 767px) {
  .port__item:nth-child(-n +3) {
    margin-bottom: 15px;
  }
}

.portfolio__item {
  background-color: var(--primary-background-color);
  max-width: 450px;
  max-height: 404px;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (max-width: 767px) {
  .portfolio__item:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) {
  .portfolio__item {
    display: flex;
    align-items: stretch;
    max-width: 354px;
    max-height: 440px;
  }
}

@media screen and (min-width: 1200px) {
  .portfolio__item {
    flex-basis: calc((100% -3 * 30px) / 3);
    max-width: 370px;
    max-height: 404px;
  }
}

.footer {
  background-color: var(--hero-background-color);
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer__container {
  display: flex;
  align-items: baseline;
}

@media screen and (max-width: 767px) {
  .footer__container {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

@media screen and (min-width: 768px) {
  .footer__container {
    flex-wrap: wrap;
    justify-content: space-around;
  }
}

.location {
  max-width: 231px;
  width: 100%;
  text-align: center;
}

@media screen and (max-width: 1199px) {
  .location {
    margin-bottom: 60px;
  }
}

@media screen and (min-width: 1200px) {
  .location {
    margin-right: 70px;
    text-align: start;
  }
}

.box-logo {
  margin-bottom: 20px;
}

.footer__item:not(:last-child) {
  margin-bottom: 9px;
}

.footer__info {
  color: rgba(255, 255, 255, 0.6);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.714;
}

.footer__city {
  color: var(--primary-background-color);
}

.join {
  max-width: 206px;
  width: 100%;
}

@media screen and (max-width: 1199px) {
  .join {
    text-align: center;
    margin-bottom: 60px;
  }
}

@media screen and (min-width: 1200px) {
  .join {
    margin-right: 93px;
  }
}

.join__subtitle {
  display: block;
  margin-bottom: 20px;
}
/*# sourceMappingURL=portfolio.css.map */