:root {
    --primary-background-color: #ffffff;
    --secondary-background-color: #f5f4fa;
    --hero-background-color: #2f303a;
    --accent-text-color: #2196f3;
    --primary-text-color: #212121;
    --secondary-text-color: #ffffff;

    --paragraph-text-color: #757575;
    --icon-basic-color: #afb1b8;

    --primary-fonts: Roboto, sans-serif;
    --secondary-fonts: Raleway, cursive;

    --letter-spacing: 0.03em;
    --form-letter-spacing: 0.01em;
    --hero-title-letter-spacing: 0.06em;
    --main-links-letter-spacing: 0.02em;
    --duration: 1s;
}