.visually-hidden {
    position: inherit;
    width: 0;
    height: 0;
    margin: -1px;
    padding: 0;
    border: 0;
    clip: rect(0 0 0);
    overflow: hidden;
}

.title-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    clip: rect(0 0 0);
    overflow: hidden;
}